body.login-page  {
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

.login-container {
    width: 300px;
    /* min-height: 350px; */
    margin: 0 auto;
    background-color: white;
    padding: 40px 40px 60px 40px;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.logo {
    text-align: center; /* Center the logo horizontally */
    /* margin-bottom:; Spacing between logo and the rest of the content */
}

.logo img {
    max-width: 150px; /* You can adjust this value based on your logo's size */
    height: auto; /* Maintain aspect ratio */
}

h2 {
    text-align: left;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    transition: border-color 0.2s;
}

input:focus {
    border-color: #007bff;
}

button {
    width: 100%;
    padding: 10px;
    /* background-color: #007bff; */
    color: #fff;
    border: none;
    border-radius: 3px;

    /* background-image: linear-gradient(to left, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 120%); */
    /* background-image: linear-gradient(to right, #FF057C 0%, #8D0B93 50%, #321575 100%); */
    background-image: linear-gradient(to left, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    /* background-image: linear-gradient(to left, #7028e4 0%, #e5b2ca 200%); */
    transition: transform .4s; /* Animation */
}
button:hover{
    background-image: linear-gradient(to left, #3665bd 0%, #3c6fce 1%, #4176d2 100%);
    transform: scale(1.05);
}

.signup-link {
    margin-top: 15px;  /* Adjust as needed */
    text-align: center;
}

.signup-link a {
    color: #330867;  /* Color picked from the gradient for a harmonious design */
    text-decoration: none;  /* Removes the underline */
    transition: color 0.3s ease;  /* Smooth transition for hover effects */
}

.signup-link a:hover {
    color: #30cfd0;  /* Adjust hover color as per your design preference */
}