body.dashboard-page, html {
    margin: 0;
    /* background-image: linear-gradient(to bottom, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); */
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    padding: 0;
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(to bottom, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); */
    background-color: whitesmoke;
  }
  
  .wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100vw;
  }
 
  .main-header {
    height: 50px;
    text-align: left;
    /* background-color: white; */
    padding-left: 120px;
    line-height: 50px;
    z-index: 2;
  }
  
  .vertical-nav {
    flex: 0 0 80px;
    margin: 20px; 
    background-color: #ffffff;
    z-index: 1;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .vertical-nav ul {
    list-style: none;
    padding: 0;
    margin-top: 60px;
  }
  
  .vertical-nav li a {
    display: block;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .vertical-nav li a:hover {
    /* background-color: rgba(242, 73, 73, 1); */
    color:#105deb
  }
  .countdown-timer{
    font-size: 120px;
  }
  .main-countdown{
    display: flex;
    flex: 1;
    width: 32vw;
    align-items:center;
    padding: 60px 80px 60px 60px;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    position: relative;
  }
  .main-game {
    flex: 1;
    width: 32vw;
    padding: 60px 80px 60px 60px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    position: relative;
    transform: scale(1);
    transition: transform 0.5s ease;
  }
  .main-content {
    flex: 1;
    width: 32vw;
    padding: 60px 80px 60px 60px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    position: relative;
    transform: scale(1);
    transition: transform 0.5s ease;
  }

  .dashboard{
    display: flex;
    margin: 60px 20px;
    padding-left: 50px;
    height: 520px;
  }
  
  .header-logo img{
    max-width: 90px;
    padding-top: 20px;
  }

  .fade-out {
    opacity: 0;
  }
  .shrink {
    transform: scale(0); 
  }

  .nav-icons{
    color:black;
    transition: transform .4s; /* Animation */
    font-size: 26px;
  }

  .nav-icons:hover{
    color:#0075b5;
    transform: scale(1.15);
  }
  .vertical-nav ul li{
    display: flex;
    justify-content: center;
  }
  .profile-icon{
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 50%, #2a5298 100%);
    border-radius: 5px;
    color: #fff;
    font-size: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .main-camera{

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* border: 1px solid #e0e0e0; */
    border-radius: 5px;
    height: 520px;
  }

  .main-content p{
    color:#6c6c6c;
    letter-spacing: 3px;
    padding-bottom: 20px;
  }
  .game-start{
    font-size: 24px;
    color: black;

  }
  .prompt{
    color:#6c6c6c;
    letter-spacing: 3px;
    padding-bottom: 20px;
  }

  .start-button {
    width: 160px;
    padding: 10px;
    /* background-color: #007bff; */
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 3px;

    background-image: linear-gradient(to left, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    transition: transform .4s; /* Animation */
  }
  .start-button:hover{
      background-image: linear-gradient(to left, #3665bd 0%, #3c6fce 1%, #4176d2 100%);
      transform: scale(1.05);
  }
  .start-button span{
    padding-left:10px;
  }

  
